*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body{
    background:url(img/w1.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}




.logo{
  
  margin-left: -40px;
  margin-top: 0px;
  
  top:-40px;
  width: 20%;
  position: absolute;
  
}

nav{

  
  height: 80px;
  width: 100%;
  position:sticky;
  top:0;
  background-color:black;
 opacity: 1;
  

}
nav ul{
float: right;
margin-right: 20px;
}
nav ul li{
display: inline-block;
line-height: 80px;
margin: 0 5px;
}

nav ul li a{
color:white;
font-size: 17px;
padding: 10px 13px;
border-radius: 3px;
text-transform: uppercase;
}

a.active,a:hover{
background: #1b9bff;
transition: .5s;
}




.loginbox{
    width: 320px;
    height: 420px;
    background-color:black;
    color: #fff;
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    opacity:0.8;
    
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover
{
    color: #ffc107;
}

.row{
	display: flex;
	flex-wrap: wrap;
  
  
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
  position: relative;
  margin-top: 600px;
  
   
}
.footer-col{
  
   
   margin-left: 150px;
   margin-bottom: 100px;
   margin-top: 100px;
   
  
}
address{
	color: #bbbbbb;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col .social-links img{
	display: inline-block;
	height: 40px;
	width: 40px;

	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;

}

.image6{
  
    position: relative;
      width: 200px;
      height: 150px;
      object-fit: cover;
      margin-top: 100px;
    
    
    
    }

    .container8{
        margin-top: 100px;
    }
